<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ConsoleApplication2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Lito" connectionString="Data Source=192.168.2.217;Initial Catalog=Lito;Persist Security Info=True;User ID=sa;Password=TcpkfcW8l1t0" providerName="System.Data.SqlClient" />
    <add name="Goepower" connectionString="Data Source=192.168.2.217;Initial Catalog=GoePower;Persist Security Info=True;User ID=sa;Password=TcpkfcW8l1t0" providerName="System.Data.SqlClient" />
    <!--<add name="LitoPrueFact" connectionString="Data Source=192.168.2.217;Initial Catalog=LitoPrueFact;Persist Security Info=True;User ID=sa;Password=TcpkfcW8l1t0" providerName="System.Data.SqlClient" />-->
    <add name="ReporteSAAMEntities" connectionString="metadata=res://*/ReporteSAAM.csdl|res://*/ReporteSAAM.ssdl|res://*/ReporteSAAM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.217;initial catalog=ReporteSAAM;persist security info=True;user id=sa;password=TcpkfcW8l1t0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EstadoCuentaSAAMEntities" connectionString="metadata=res://*/EstadoCuentaSAAM.csdl|res://*/EstadoCuentaSAAM.ssdl|res://*/EstadoCuentaSAAM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.217;initial catalog=EstadoCuentaSAAM;user id=sa;password=TcpkfcW8l1t0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CuponesSAAMEntities" connectionString="metadata=res://*/CuponeSAAM.csdl|res://*/CuponeSAAM.ssdl|res://*/CuponeSAAM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.217;initial catalog=CuponesSAAM;persist security info=True;user id=sa;password=TcpkfcW8l1t0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OrderInfoSoap" receiveTimeout="12:50:00" sendTimeout="12:50:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="productioncallsSoap" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="InformationAPISoap" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="CreateAPISoap" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://goepowerlive.goepower.com/webservices/OrderInfo.asmx" binding="basicHttpBinding" bindingConfiguration="OrderInfoSoap" contract="OrdenService.OrderInfoSoap" name="OrderInfoSoap" />
      <endpoint address="https://live.goepower.com/webservices/productioncalls.asmx" binding="basicHttpBinding" bindingConfiguration="productioncallsSoap" contract="OrdenChangeStatus.productioncallsSoap" name="productioncallsSoap" />
      <endpoint address="https://live.goepower.com/WebServices/InformationAPI.asmx" binding="basicHttpBinding" bindingConfiguration="InformationAPISoap" contract="ProductosService.InformationAPISoap" name="InformationAPISoap" />
      <endpoint address="https://kumon.goepower.com/WebServices/CreateAPI.asmx" binding="basicHttpBinding" bindingConfiguration="CreateAPISoap" contract="CreateOrden.CreateAPISoap" name="CreateAPISoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ConsoleApplication2.Properties.Settings>
      <setting name="ConsoleApplication2_servicio_OrderInfo" serializeAs="String">
        <value>http://goepowerlive.goepower.com/webservices/OrderInfo.asmx</value>
      </setting>
    </ConsoleApplication2.Properties.Settings>
  </applicationSettings>
</configuration>